.fl {
  display: inline-block;
  vertical-align: middle;
}
.fl.label {
  margin: 0 20px;
  padding: 0 20px;
  line-height: 40px;
}
form#simpleforms .double-bounce1, 
form#simpleforms .double-bounce2,
form#simpleforms .container1 > div, 
form#simpleforms .container2 > div, 
form#simpleforms .container3 > div,
form#simpleforms .dot1, 
form#simpleforms .dot2,
form#simpleforms .spinner4,
form#simpleforms .cube1, 
form#simpleforms .cube2,
form#simpleforms .spinner6 > div,
form#simpleforms .spinner7 > div {
  background-color: #555;
}
