div#message {
  padding: 10px 20px;
}
div#message.error {
  padding: 10px 20px;
  background: rgba(245,191,204,0.55);
}
div#message.error ul {
  list-style-type: square;
  margin: 0 10px;
}
form input.error-field,
form textarea.error-field {
  border: 1px solid red;
}
span.required {
  color: red;
}

#fakeLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.45);
  z-index: 10001;
}
#fakeLoader .fl-text {
  float: none;
  position: relative;
  top: 44%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  color: white;
}
#fakeLoader .fl {
  float: none;
  position: relative;
  top: 50%;
  left: 48%;
}
.rtl #fakeLoader .fl {
  left: auto;
  right: 48%;
}
