<style>
  div#help-wrapper {box-sizing: border-box;padding: 20px;width: 75%;}
  table {border: none;}
  td {vertical-align: top;}
  pre {background: white;padding: 10px;border-radius: 5px;color: navy;}
  hr {text-align: center;width: 80%;}
</style>
<div id='help-wrapper'>
  <h1>Simple Forms Help Page</h1>
  <div>The following will help you use the simple-forms plugin.</div>
  <h2>Basic functionality</h2>
  <div>To create a form you'll need to create a new object:</div>
  <pre>$new_obj = new simple_form($form);</pre>
  <div>To render and show the form do:</div>
  <pre>print $new_obj->render_form();</pre>
  <h2>Creating the $form array</h2>
  <div>The form array includes general form definitions and the various fields definitions.</div>
  <div>&nbsp;</div>
  <hr />
  <div>&nbsp;</div>

  <h3>$form definitions</h3>
  <table>
    <tr>
      <td width='10%'><strong>type: </strong></td>
      <td>The type of form (optional). If not set, it is assumed to be <em>admin_settings</em>.<br />An <em>admin_settings</em> form is a special case form and does not need a submit field and/or submit handling. The plugin takes care of the form submission, validation of fields (required on the server side), and saving fields as options in Wordpress options table</td>
    </tr>
    <tr>
      <td><strong>id: </strong></td>
      <td>The form id (optional). If no form id is defined, the form id will default to form-XXXXXX, where XXXXXX is the unix timestamp.</td>
    </tr>
    <tr>
      <td><strong>class: </strong></td>
      <td>The form class (optional).</td>
    </tr>
    <tr>
      <td><strong>action: </strong></td>
      <td>The form action (optional). If action is not defined, the form URI is set as the action.</td>
    </tr>
    <tr>
      <td><strong>method: </strong></td>
      <td>The form method (optional). If method is not defined, the form method is set to POST.</td>
    </tr>
    <tr>
      <td><strong>redirect: </strong></td>
      <td>TBD</td>
    </tr>
    <tr>
      <td><strong>prefix: </strong></td>
      <td>TBD</td>
    </tr>
    <tr>
      <td><strong>suffix: </strong></td>
      <td>TBD</td>
    </tr>
    <tr>
      <td><strong>token: </strong></td>
      <td>TBD</td>
    </tr>
    <tr>
      <td><strong>colon: </strong></td>
      <td>Whether to place colon after the field label (optional).<br />Boolean<br />colon is set to TRUE by default.</td>
    </tr>
  </table>
  <div>&nbsp;</div>
  <div>An example for defining $form:</div>
  <pre>
&lt;?php
$form = array(
  'type' => 'admin_settings',
  'id' => 'simple-forms-settings',
  'colon' => FALSE,
);
?>
  </pre>
  <div>&nbsp;</div>
  <hr />
  <div>&nbsp;</div>

  <h3>$form fields definitions</h3>
  <div>A field starts with its name. The name is the key in the $form array. A field definition is an array.<br />Here we define a new field who's name is <em>first_name</em>.</div>
  <pre>$form['first_name'] = array();</pre>
  <div>The field type defines the type of field we need to create. If a field type is not defined, it is assumed to be markup. In that case, the <em>markup</em> key MUST be set.
    <pre>&lt;?php
$form['first_name'] = array(
  'type' => 'text',
);
$form['help_text'] = array(
  'markup' => '&lt;p>Some markup text ...&lt;/p>',
);
?>
    </pre>
    These are the supported field types: <a href='#text'>number</a>, <a href='#text'>date</a>, <a href='#text'>datetime-local</a>, <a href='#text'>password</a>, <a href='#text'>email</a>, <a href='#text'>text</a>, 
    hidden, phone, date-popup, checkbox, checkboxes, radio, radios, textarea, select, title, button, submit, & markup.<br />
  </div>
  <div>&nbsp;</div>
  <hr />
  <div>&nbsp;</div>

  <h3>Field Types Detailed</h3>
  <div><em>Bold keys are mandatory for the specified field type.</em></div>
  <a id='text'></a><h4>Field types: number, date, datetime-local, password, email, & text</h4>
  <div>keys: <a href='#item_prefix'>item_prefix</a>, <a href='#item_suffix'>item_suffix</a>, <a href='#label'><strong>label</strong></a>, <a href='#prefix'>prefix</a>, 
    <a href='#suffix'>suffix</a>, </div>
  <div>&nbsp;</div>
  <hr />
  <div>&nbsp;</div>

  <h3>Field keys</h3>
  <a id='label'></a><h4>label</h4>
  <div>Used in field types: <a href='#text'>number</a>, <a href='#text'>date</a>, <a href='#text'>datetime-local</a>, <a href='#text'>password</a>, <a href='#text'>email</a>, & <a href='#text'>text</a></div>
  <div>&nbsp;</div>
  <hr />
  <div>&nbsp;</div>
  
  <div>...</div>
</div>
